.custom-style {
  .container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    pointer-events: none;
    justify-content: start !important;
    font-family: 'Kanit', sans-serif;
    line-height: 0px;
    text-transform: uppercase;
  }

  .number {
    font-size: 450px;
    color: #373c4c;
  }

  .number span {
    display: inline-block;
    position: relative;
    transform: translate3d(-35%, 0, 0);
  }

  .header {
    margin-left: 350px;
    font-size: 70px;
    color: white;
  }

  .stripe {
    height: 2px;
    width: auto;
  }

  .slopeBegin {
    background-color: #20232f;
    clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
  }

  .slopeEnd {
    clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
  }

  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 140%;
    height: 100%;
    cursor: pointer;
  }

  .pink {
    background: linear-gradient(to right, deeppink 0%, coral 100%);
  }

  .teal {
    background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
  }

  .tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);
  }
}

.btn-icon-pulse {
  -webkit-animation: shadow-pulse 1.6s ease-out;
  animation: shadow-pulse 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  @keyframes shadow-pulse
  {
    0% {
      box-shadow: 0 0 0 0 rgba(49, 160, 37, 0.2);
    }
    100% {
      box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
  }
}

.rez-text {
  $font-family: 'Rezland Logotype Font', sans-serif !default;
  font-family: $font-family;
}

.fw-100 {
  font-weight: 100 !important;
}

.fs {
  &-15 { font-size: 15px }
  &-50 { font-size: 50px }
  &-85 { font-size: 85px }
}

.middle-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dotted-sidebar {
  position: fixed;
  top: 50vh;
  right: 2vw;
  z-index: 10;

  li {
    font-size: 20px;
  }
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.show-sidebar {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.item-active:after {
  content: "";
  -webkit-animation: list-pulse 1.6s ease-out;
  animation: list-pulse 1.6s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  @keyframes list-pulse
  {
    0% {
      box-shadow: 0 0 0 0 rgba(49, 160, 37, 0.2);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  }
}

@import "isometric";